@model IEnumerable<SaleOfAgriculturalProduct1.Data.ProductItmsImage>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exstention)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exstention)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductItmsImageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductItmsImageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductItmsImageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-area="" asp-controller="SaleOfAgriculturalProduct" class="btn btn-success" asp-action="Index"> Admin Page</a>
</p>