@model IEnumerable<SaleOfAgriculturalProduct.Data.Product>



<h2>Change Category Activity</h2>

<style>
    img {
        border-radius: 50%;
    }

    body {
        /*background-image: url("https://media.giphy.com/media/3xz2BVxzjZVnGdgGVW/giphy.gif");*/
        background-image: url("https://media.giphy.com/media/fnmgDzaOgIO6P293Hu/giphy.gif");
        background-color: #cccccc;
    }
</style>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="text-left" style="color:purple;" id="borderimg">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeasurementUnit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceUnit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quality)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.ShowAllow)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.ProductionTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductItmsImage)
                </th>
                <th>
                    <p style="color:navy;"> About Seller</p>
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MeasurementUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quality)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ShowAllow)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductItmsImage.Exstention)
                    </td>
                    <td>
                        @Html.Partial("UserDetails", item)

                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

li><a asp-area="" asp-controller="Admin" asp-action="Index">GoAdminPage</a></li>