@model IEnumerable<SaleOfAgriculturalProduct.Data.Product>















@{
        ViewData["Title"] = "Index";
    }

<h2>Index</h2>


<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Products" asp-action="SortApple">Apple</a></li>
        <li><a asp-area="" asp-controller="Products" asp-action="SortApricote">Apricote</a></li>
        <li><a asp-area="" asp-controller="Products" asp-action="SortBananas">Bananas</a></li>

        <li><a asp-area="" asp-controller="Products" asp-action="SortWatermelon">Watermelon</a></li>
        <li><a asp-area="" asp-controller="Products" asp-action="SortCarrot">Carrot</a></li>
        <li><a asp-area="" asp-controller="Products" asp-action="SortPotato">Potato</a></li>
        <li><a asp-area="" asp-controller="Products" asp-action="SortGreens">Greens</a></li>
        <li><a asp-area="" asp-controller="Products" asp-action="SortBent">Bent</a></li>

        <li><a asp-area="" asp-controller="Admin" asp-action="Index">AdminPage</a></li>

    </ul>
    
</div>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MeasurementUnit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriceUnit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShowAllow)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductionTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductItmsImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BirtDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FhoneNamber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adress)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MeasurementUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShowAllow)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductItmsImage.Exstention)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirtDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FhoneNamber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
