@model IEnumerable<SaleOfAgriculturalProduct1.Data.Product>

@{
    ViewData["Title"] = "ChangeActivite";
}

    <style>
        body {
            background-color:lightyellow;
        }
    </style>

<h2>ChangeActivite</h2>


<table class="table table-bordered table-striped" style="background-color:mistyrose">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductItmsImage)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.MeasureUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualitys)
            </th>
            <th>
                About Saler
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductItmsImage.Exstention)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MeasureUnit.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qualitys.QualityName)
                </td>

                <td>
                    @Html.Partial("UserDetails", item)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-area="" asp-controller="SaleOfAgriculturalProduct" class="btn btn-success" asp-action="Index"> Admin Page</a>
</p>